{% extends "base.html" %} 

{% block title %}
Connexion
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Inscription</h1>
    <form method="post" action="" id="form">
      {% csrf_token %}

      <div class="form-group">
        {{ form }}
      </div>

    </form>

    {% if form.errors %}
    <p>Il y a eu une erreur avec le formulaire</p>
    {% endif %}

    {% if messages %}
      {% for m in messages %}
        {{ m }}
      {% endfor %}
    {% endif %}

    <div class="submit-section">
      <button type="submit" form="form">S'inscrire</button>
      <div class="link">
        Déjà inscrit ? <a href="../connexion/">Se connecter</a>
      </div>
    </div>
  </div>
{% endblock %}