{% extends "base.html" %} 

{% block title %}
Ajouter une Piece
{% endblock %}

{% block content %}
<div class="page-container-objet-piece">
    <div class="form-container">
        <h1>Ajouter une pièce</h1>
        <form method="POST" action="#">
            {% csrf_token %}
            
           
            <label for="nom_piece">Nom de la pièce :</label>
            <input type="text" id="nom_piece" name="nom_piece" placeholder="Entrez le nom de la pièce" class="form-input" required>
            
            
            <button type="submit", name="submit_new_piece", value="submit_new_piece" class="btn-ajouter">Ajouter</button>
           
        </form>
    </div>
    

<button onclick="window.history.back()" class="btn-retour">Retour</button>
</div>
{% endblock %}