{% extends 'base.html' %}

{% block title %}
Ajouter un Objet
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="form-container">
        <h1>Ajouter un objet</h1>
        <form method="POST" action="#">
            {% csrf_token %}
            
            <label for="nom_objet">Nom de l'objet :</label>
            <input type="text" id="nom_objet" name="nom_objet" placeholder="Entrez le nom de l'objet" required>
            
            
            <button type="submit", name="submit_new_objet", value="submit_new_objet">Ajouter</button>
        </form>
    </div>
</div>


{% endblock %}