{% extends "base.html" %} 

{% block title %}
Cree ou joindre ma Maison
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Bienvenue</h1>
    <div>
        <!-- Bouton pour créer une nouvelle maison -->
        <a href="cree/" class="btn-rejoindre">
            Créer une nouvelle maison
        </a>

        <!-- Bouton pour rejoindre une maison -->
        <a href="rejoindre/" class="btn-rejoindre">
            Rejoindre une maison
        </a>
    </div>
</div>




{% endblock %}

