{% extends "base.html" %} 

{% block title %}
Mes objets
{% endblock %}

{% block content %}
<main class="main-content"> 
    <form action="#" method="post">
        {% csrf_token %}
        {% for p, list_lampes in data %}
        <section class="room-category">
            <h2 class="room-title">{{ p.nom_piece }}</h2>
            <div class="devices-container">

                {% for l in list_lampes %}
                    <div class="device-card">
                        <h3 class="device-name">{{ l.nom_lampe }}</h3>
                            {% if points >= 20 %}
                            <button value="{{ l.id }}" name="clicked">
                                {% if l.etat %}
                                    allumé
                                {% else %}
                                    eteint
                                {% endif %}
                            </button>
                            {% else %}
                                {% if l.etat %}
                                    allumé
                                {% else %}
                                    eteint
                                {% endif %}
                            {% endif %}
                    </div>
                {% endfor %}

                <!-- BOUTON AJOUTER -->
                {% if points >= 20 %}
                <div class="device-card">
                    <button class="add-button" value="{{ p.id }}" name="piece">+</button>
                </div>
                {% endif %}
            </div>
        </section>
        {% endfor %}
    </form>
    {% if points >= 20 %}
    <a class="add-button", href="ajouter_piece">Ajouter une piece</a>
    {% endif %}
</main>
{% endblock %}